* {

    .container-fluid {
        width: 100vw;
        height: 100vh;
        background: url(wp.jpg);

        .main {
            width: 100vw;
            height: 100vh;

            .form {
                height: 92%;
                margin-top: 2% !important;
                background-color: white;

                .row {
                    text-align: center;
                    align-items: center;
                }

                .row1 {
                    height: 12%;

                    h1 {
                        font-size: 24px;
                    }
                }

                .row2 {
                    height: 8%;

                    h3 {
                        font-size: 20px;
                    }
                }

                .row3 {
                    --color: #1aa0b9;
                }

                .row4,
                .row10 {
                    --color: #007bff;
                }

                .row3,
                .row4,
                .row10 {
                    height: 10%;

                    button {
                        border-radius: 5px;
                        border: 2px solid transparent;
                        height: 80%;
                        margin-left: 20% !important;
                        background-color: var(--color);
                        width: 60%;
                        font-size: 18px;
                        transition: 0.6s;
                        color: white;
                        font-weight: 400;

                        &:hover {
                            transform: scale(1.1);
                            letter-spacing: 1.4px;
                            background-color: white;
                            color: var(--color);
                            border: 2px solid var(--color);
                        }
                    }
                }

                .row5 {
                    height: 10%;

                    h2 {
                        font-size: 20px;
                    }
                }

                .row6,
                .row7,
                .row8,
                .row9 {
                    .ikonka {
                        width: 30px;
                        height: 30px;
                        ;
                        display: inline-block;
                        margin: 0 !important;
                        padding: 0 !important;
                        padding: 5px !important;
                        margin-left: 20% !important;
                        background: #e2e7eb;
                        color: black;
                        font-size: 10px;
                        border: 1px solid gray;
                    }

                    display: flex;
                    flex-direction: row;

                    height: 8%;

                    input {
                        border-left: none;
                        border-top-left-radius: 0px !important;
                        border-bottom-left-radius: 0px !important;
                        height: 80%;
                        padding: 5px !important;
                        width: 260px;
                        border: 1px solid gray;
                        outline: none;
                        border-radius: 3px;
                    }
                }

                .row11 {
                    height: 53px;
                    line-height: 50px;

                    p {
                        font-size: 16px;
                    }

                    a {
                        font-size: 16px;
                        text-decoration: none;
                        color: #007bff;
                        transition: 0.6s;

                        &:hover {
                            font-size: 22px;
                            letter-spacing: 1.8px;
                        }
                    }
                }
            }
        }
    }
}